# --- ROS 2 / colcon ---
build/
install/
log/
logs/
.colcon/
.colcon_install_layout

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# --- IDE / OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Logs sueltos ---
*.log
